$brand-orange: #E26733;
$brand-blue: #010232;
$brand-white: #ffffff;
$brand-lightblue: #4785B9;

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: $brand-blue;
    color: $brand-white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: $brand-lightblue;
    font-weight: 700;
    font-size: 7rem;
    text-align: left;
    line-height: 10rem;
    margin: 30px 0;
    span {
        color: $brand-white;
    }
}

h2 {
    font-size: 3rem;
    margin: 50px 0;
}

h3 {
    font-size: 3rem;
    margin: 0;
    color: $brand-orange;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

p {
    font-size: 1.8rem;
    line-height: 3rem;
}

a {
    text-decoration: none;
    transition: all 0.5s;
}

.nav-bar {
    position: sticky;
    top: 0;
    background-color: $brand-blue;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    font-size: 1.5rem;
    text-transform: uppercase;
    a {
        &:link, &:visited {
            color: $brand-orange;
        }
        &:hover {
            color: $brand-lightblue;
            text-decoration: underline;
        }
    }
}

.nav-menu-item {
    margin: 0.2em;
    padding: 0.6em;
}

.nav-title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}

header {
    padding: 100px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    p {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
}

.button {
    margin: 20px 0;
    padding: 15px 25px;
    color: $brand-white;
    background-color: $brand-orange;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
        background-color: $brand-lightblue;
    }
}

.recent-projects-section {
    padding: 25px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 40%;
        left: 30%;
        border-top: 1px solid #ffffff80;
    }
}

.recent-projects-parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px 30px;
}

.project-card {
    width: 350px;
    margin: 0 auto;
}

.project-header {
    display: flex;
    flex-direction: column;
    border: solid #ffffff80 1px;
    border-radius: 15px;
    padding: 20px;
    font-family: 'Source Code Pro', monospace;
    .technologies-used-text {
        font-size: 1.5rem;
        color: $brand-lightblue;
    }
    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: $brand-orange;
        transition: all 0.5s;
        &:hover {
            text-decoration: underline;
            color: $brand-lightblue;
        }
    }
}

.project-description {
    margin-top: 30px;
}

.contact-section {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 40%;
        left: 30%;
        border-top: 1px solid #ffffff80;
    }
}

.about-me-section {
    padding: 50px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    div {
        width: 50%;
    }
    img {
        width: 60%;
        display: block;
        object-fit: cover;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 40%;
        left: 30%;
        border-top: 1px solid #ffffff80;
    }
}

.about-me-section-message {
    margin: 0 20px;
    max-width: 400px;
}

footer {
    padding: 40px 0;
    display: flex;
    justify-content: center;

    div {
        display: flex;
        gap: 25px;
    }
}

.footer-item {
    a {
        color:$brand-orange;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        &:hover {
            color: $brand-lightblue;
            text-decoration: underline;
        }
    }
}


@media screen and (max-width: 600px) {
    html {
        font-size: 2vw;
    }
    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 5rem;
    }
    .nav-bar{
        flex-direction: column;
    }
    header {
        padding: 20px;
    }
    .recent-projects-parent {
        flex-direction: column;
        align-items: center;
        gap: 20px;
	}
    .project-card {
        width: 100%;
        padding: 20px 0;
        align-items: center;
    }
    .about-me-section {
        flex-direction: column;
        align-items: center;
        margin: 50px 50px;
        div {
            width: 100%;
        }

        img {
            width: 100%;
            min-height: auto;
        }
    }
}