html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 10rem;
    text-align: center;
}

h2 {
    font-size: 7rem;
    margin: 50px 0;
}

p {
    font-size: 1.8rem;
}

a, .contact-form-submit-button {
    text-decoration: none;
    transition: all 0.5s;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ff8000;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
}

.nav-bar a:link, .nav-bar a:visited {
    color: #ff8000;
}

.nav-bar a:hover {
    color: #001453;
    text-decoration: underline;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.nav-menu-item {
    margin: 0.2em;
    padding: 0.6em;
}

.nav-title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}

header {
    background-color: #ff8000;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-section {
    padding: 50px 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px 50px;
    color: #001453;
}

.intro-section div {
    width: 300px;
}

.intro-section-message {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #DDDDDD;
}

img {
    width:100%;
    height:100%;
}

.timeline-section {
    margin: 0px 0;
    padding: 25px 20px;
    background-color: #ff8000;
    color: #ffffff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.timeline-parent {
    padding-bottom: 50px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 800px;
    gap: 20px;
}

.timeline-parent div {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.timeline-parent h3 {
    margin: 0 0;
    font-size: 2rem;
    font-weight: normal;
}

.timeline-parent p {
    margin: 0 0;
    font-size: 2rem;
    font-weight: normal;
}
.recent-projects-section {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.recent-projects-parent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
    max-width: 800px;
}

.project-card {
    flex-basis: 33%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project-card img {
    object-fit: cover;
    height: 30vh;
}

.project-card a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ff8000;
    transition: all 0.5s;
}

.project-card a:hover {
    color: #001453;
    text-decoration: underline;
}

.more-projects-link, .contact-form-submit-button {
    margin: 50px 20px;
    padding: 25px 45px;
    color: #001453;
    border: 2px solid #001453;
    border-radius: 5px;
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
}

.more-projects-link:hover {
    color: #ffffff;
    background-color: #ff8000;
    border-color: #ff8000;
}

.contact-form-submit-button:hover {
    color: #ffffff;
    background-color: #ff8000;
    border-color: #ffffff;
}

.contact-section {
    padding: 50px 20px;
    background-color: #ff8000;
    color: #ffffff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.contact-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.contact-section h2 {
    margin-top: 0;
}

.contact-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 400px;
    font-size: 1.5rem;
}
.contact-form div{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contact-input {
    display: inline-block;
    border: none;
    border-radius: 2px;
}

input {
    width: 190px;
    min-height: 35px;

}
textarea {
    width: 100%;
}

footer {
    background-color: #ffffff;
    padding: 40px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
}

.footer-item a {
    color:#001453;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25rem;
}

.footer-item a:hover {
    color: #bdbdbd;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 5rem;
    }
    .nav-bar{
        flex-direction: column;
    }
    .recent-projects-parent {
        display: flex;
        flex-direction: column;
        align-items: center;
	}
    .project-card {
        padding: 20px 0;
        border-bottom: 1px solid #DDDDDD;
        align-items: center;
        width: 80%;
    }
}